# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# VS Code
.vscode/
# Environment files
.env
.venv/
env/
venv/
# OS generated
.DS_Store
Thumbs.db
# Mac system files
.Spotlight-V100
.Trashes